@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Asimovian&family=BBH+Sans+Bogle&family=Bitcount+Grid+Double:wght@100..900&family=Bungee&family=Bungee+Spice&family=Caprasimo&family=Chiron+GoRound+TC:wght@200..900&family=Moirai+One&family=Playwrite+AU+NSW:wght@100..400&family=Playwrite+AU+QLD:wght@100..400&family=Playwrite+CA:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&family=Tagesschrift&family=Tektur:wght@400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    /*font-family: "Arvo", serif;*/
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background-color: #4b4848;
    overflow-x: hidden;
}

span{
    color: rgb(230, 35, 35);
}

header{
    position: fixed;
    top: 5px;
    left: 0;
    width: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    background: #0f0f0f04;
    border: none;
    border: none;
    z-index: 99;
}

#logo{
    margin-top: 5px;
    backdrop-filter: blur(17px);
    background-color: #ffffff;
    border: none;
    border-radius: 30px;
}

#logo img{
    width: 10vw;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(17px);
    background-color: #ffffff00;
    border: none;
    border-radius: 30px;
    padding: 5px;
    box-shadow: 0px 2px 10px #000;
}

.navbar h4{
    font-weight: bold;
    position: relative;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    transition: background-color 0.5s ease-in-out;
}

.navbar li{
    margin-left: 20px;
    margin-right: 20px;
    list-style: none;
    font-size: 1.1rem;
}

#opennavbr{
    display: none;
    background: transparent;
    font-size: 4pc;
    color: #fff;
    border: none;
    margin-right: 2pc;
}

.navbar #closenavbr{
    display: none;
    background: transparent;
    font-size: 3pc;
    color: #fff;
    border: none;
}

.yum-class{
    color: #ffffff;
    margin-right: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    transition: 1.5s ease;
}

a:hover{
    text-decoration: underline;
}

.dropdown-head{
    font-weight: bold;
    margin-left: 2pc;
    margin-bottom: 200pc;
    color: #fff;
}

.dropdown-content{
    width: 50.5%;
    background: rgb(24, 23, 23);
    position: absolute;
    border-radius: 10px;
    z-index: 999;
    display: none;
    margin-top: 1.1pc;
    padding: 10px 0px;
}

#impactDropdown{
    width: 70%;
}

#investorsDropdown{
    width: 80%;
}

#newsDropdown{
    width: 40%;
}

.show{
    display: flex !important;
}

.dropdown-content li{
    display: block;
    font-size: 13.5px;
    padding: 5px 0px;
}

#Home{
    width: 100%;
    height: 100vh;
    padding-bottom: 8pc;
    position: relative;
    background-image: url(food-pla.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: bgChange 25s linear infinite;
}

@keyframes bgChange{
    0%{
        background-image: url(food-pla.png);
    }
    25%{
        background-image: url(pizza2.png.png);
    }
    50%{
        background-image: url(tacos.png);
    }
    75%{
        background-image: url(burger2.png);
    }
}

.overlay3{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #0000005b;
    overflow: hidden;
}

.hero{
    position: relative;
    padding-bottom: 10pc;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
    overflow: hidden;
}

.main-text{
    padding: 20px;
    letter-spacing: 10px;
    font-size: 2.5pc;
    padding-top: 20pc;
    text-shadow: 2px 2px 4px #000;
    font-weight: 400;
    font-family: "BBH Sans Bogle", sans-serif;
}


.sub-text{
    padding-top: 1pc;
    font-size: 1pc;
    font-weight: bold;
    text-shadow: 1px 1px 3px #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#btn{
    margin-top: 2pc;
    margin-bottom: 10pc;
    font-size: 1pc;
    color: #fff;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px 20px;
    background-color: #a01a1a;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: .5s ease;
}

#btn:hover{
    background-color: #4371b6;
}

/*.image-container{
    padding-top: 4pc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}
.image1 h1{
    text-align: center;
    color: #131212;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.image1 img{
    width: 100%;
    max-width: 400px;
    height: 50vh;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
}*/

#about{
    padding: 120px 0px 50px 0px;
}

.why{
    text-align: center;
    padding: 20px;
    color: #fff;
    font-family: "BBH Sans Bogle", sans-serif;
    font-weight: 400;
    font-size: 5pc;
}

.franchise-container{
    padding-top: 8pc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 5pc;
    flex-wrap: wrap;
}

.franchise-text{
    flex: 1;
    flex-basis: 500px;
    max-width: 50%;
}

.text{
    font-size: 2.2pc;
    color: #fffdfd;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.numbers{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 4pc;
    margin-top: 5pc;
    text-align: center;
    flex-wrap: wrap;
}

.franchise-image{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
    flex-basis: 500px;
    max-width: 50%;
}

.top-images-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px;
    gap: 30px;
}

.box3{
    height: 230px;
}

.image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    overflow: hidden;
}

.image img{
    position: static;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 30px;
}

.image p{
    position: absolute;
    color: #fff;
    font-size: 1.4pc;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: bold;
    z-index: 89;
    text-shadow: 2px 2px 4px #0e0d0d;
}

.image span{
    color: #fff;
}

.image .overlay2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000000;
    z-index: 50;
    transition: .4s ease;
    border-radius: 30px;
}

.image:hover .overlay2{
    background-color: #00000069;
}


#partners{
    padding: 120px 5px 5pc 5px;
}

.partnersHead{
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 5pc;
    font-family: "BBH Sans Bogle", sans-serif;
}

.partnersParagraph{
    font-size: 1pc;
    color: #fff;
    text-align: center;
    margin-top: 3pc;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.brands-container{
    padding-top: 8pc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding-bottom: 5pc;
    flex-wrap: wrap;
}

#kfc{
    width: 100%;
    max-width: 350px;
    height: 40vh;
}
#taco{
    width: 100%;
    max-width: 350px;
    height: 40vh;
}
#pizza{
    width: 100%;
    max-width: 230px;
    height: 80%;
}

#Habit{
    width: 100%;
    max-width: 230px;
    height: 32.5vh;
}

.brands{
    border: 1px solid #fff;
    padding-bottom: 2pc;
    border-radius: 20px;
    background-color: #0e0d0d;
    transition: .5s ease;
}

.brands:hover{
    transform: translateY(-13px);
    
}

.brands img{
    width: 100%;
    max-width: 230px;
    height: 100%;
    border-radius: 20px;
}

.brands h2 {
    padding: 10px 0px 1pc 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    margin-left: 1pc;
}

.brands a{
    margin-left: 1pc;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #a01a1a;
    border: none;
}

footer{
    padding: 120px 5px 0px 5px ;
}

.footHead{
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 5pc;
    font-family: "BBH Sans Bogle", sans-serif;
}

.footH3{
    font-size: 1pc;
    color: #fff;
    text-align: center;
    margin-top: 3pc;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#Form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3pc;
    padding-bottom: 3pc;
    gap: 1pc;
}

input{
    padding: 10px 50px;
    background-color: #0000004f;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1pc;
    font-weight: bold;
}

#subscribe{
    padding: 10px 10px;
    color: #fff;
    background-color: #a01a1a;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}



@media screen and (max-width: 1024px){
    #logo img{
        width: 120px;
    }
    #logo{
        margin-top: 3px;
        background-color: #fff;
    }
    .navbar{
        position: fixed;
        display: block;
        text-align: center;
        top: 0;
        right: -100%;
        width: 200px;
        height: 100vh;
        background: #3d3d3d;
        padding: 50px 40px 50px 0px;
        transition: 0.5s;
        border-radius: 1px;
    }
    .navbar.active{
        right: 0;
    }
    .navbar li{
        margin-top: 40px;
        padding: 40px 0px 10px 30px;
    }
    #opennavbr{
        position: static;
        display: flex;
        top: 12px;
        color: #f1f1f1;
        right: 20px;
        cursor: pointer;
    }
    .navbar #closenavbr{
        display: grid;
        position: absolute;
        top: 20px;
        color: #f5f5f5;
        right: 110px;
        cursor: pointer;
    }
    .dropdown-content{
        position: static; 
        width: 150px; 
        margin-top: 0;
        box-shadow: none;
        padding-left: 5px;
        margin-left: -3pc;
        text-align: left;
        display: none;
    }
    #newsDropdown {
        width: 100%;
    }
    #impactDropdown,
    #investorsDropdown{
        width: 230px;
    }
    .dropdown-head{
        margin-left: 0;
    }
    
    .dropdown-content li{
        margin-left: 0;
        margin-top: -1pc;
    }
    
    .dropdown-content a {
        color: #ddd; 
        font-size: 13px;
    }
    #impactDropdown > div,
    #investorsDropdown > div{
        display: block;
        width: 100%;
        padding: 10px 0px 10px -70px;
        margin-bottom: 5px;
    }
    .yum-class{
        display: none;
    }
    .text{
        font-size: 50px;
    }
    .numbers{
        font-size: 1.5pc;
    }
    .franchise-image{
        max-width: 100%;
    }
    .main-text{
        margin-top: 2pc;
        font-size: 2pc;
    }
    .sub-text{
        padding: 0px 10px;
        margin-top: 2pc;
        font-size: 1.2pc;
    }
    #btn{
        margin-top: 3pc;
        font-size: 1.25pc;
    }
    #kfc{
        width: 100%;
        max-width: 450px;
        height: 30vh;
        object-fit: cover;
    }
    #taco{
        width: 100%;
        max-width: 450px;
        height: 30vh;
        object-fit: cover;
    }
    #pizza{
        width: 100%;
        max-width: 450px;
        height: 30vh;
    }
    #Habit{
        width: 100%;
        max-width: 450px;
        height: 30vh;
    }    

}
@media screen and (max-width: 915px){
    #logo img{
        width: 120px;
        margin-left: 0;
    }
    #logo{
        background-color: #fff;
        backdrop-filter: none;
    }
    .dropdown-content{
        position: static; 
        display: none;
        width: 150px; 
        margin-top: 0;
        box-shadow: none;
        padding-left: 5px;
        margin-left: -1.6pc;
        text-align: left;
    }
    #newsDropdown {
        width: 100%;
    }
    #impactDropdown,
    #investorsDropdown{
        width: 223px;
    }
    .dropdown-head{
        margin-left: 0;
    }
    
    .dropdown-content li {
        margin-left: 0;
        margin-top: -1pc;
    }
    
    .dropdown-content a {
        color: #ddd; 
        font-size: 11px;
    }
    #impactDropdown > div,
    #investorsDropdown > div{
        display: none;
        width: 100%;
        padding: 10px 0px 10px -50px;
        margin-bottom: 5px;
    }
    .franchise-image{
        max-width: 100%;
    }
    .main-text{
        font-size: 1.7pc;
    }
    .sub-text{
        padding: 0px 10px;
        margin-top: 1pc;
        font-size: 12px;
    }
    .numbers{
        font-size: 15px;
    }
    #btn{
        margin-top: 2pc;
        font-size: 1pc;
    }
    .text{
        font-size: 40px;
    }
    #kfc{
        width: 100%;
        max-width: 300px;
        height: 30vh;
        object-fit: cover;
    }
    #taco{
        width: 100%;
        max-width: 300px;
        height: 30vh;
        object-fit: cover;
    }
    #pizza{
        width: 100%;
        max-width: 300px;
        height: 30vh;
    }
    #Habit{
        width: 100%;
        max-width: 300px;
        height: 30vh;
    }    
}
@media screen and (max-width: 665px){
    #logo img{
        margin-left: 0pc;
        width: 120px;
    }
    #logo{
        background-color: #fff;
        backdrop-filter: none;
    }
    #opennavbr{
        margin-right: 30px;
    }
    .main-text{
        margin-top: 2pc;
        font-size: 1.5pc;
    }
    .sub-text{
        margin-top: -1pc;
        font-size: 10px;
    }
    .why{
        font-size: 3pc;
    }
    .numbers{
        font-size: 12px;
    }
    .partnersHead, .footHead{
        font-size: 3pc;
    }
    #btn{
        margin-top: 2pc;
        font-size: 75%;
    }
    .text{
        text-align: center;
        font-size: 24px;
        width: 100%;
    }
    .franchise-image{
        max-width: 100%;
    }
    .brands{
        width: 40%;
        height: 20vh;
    }
    .brands h2{
        margin-top: -4px;
        margin-bottom: -6px;
        font-size: 15px;
    }
    .brands a{
        font-size: 10px;
    }
    #kfc{
        width: 100%;
        max-width: 350px;
        height: 75%;
        object-fit: cover;
    }
    #taco{
        width: 100%;
        max-width: 350px;
        height: 75%;
        object-fit: cover;
    }
    #pizza{
        width: 100%;
        max-width: 230px;
        height: 75%;
    }

    #Habit{
        width: 100%;
        max-width: 230px;
        height: 75%;
    }

}
















